.addBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: sans-serif
}

.removeBtn {
    background-color: #af4c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: sans-serif
}

.addTodoBox {
    width: 11.25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

h2 {
    font-family: sans-serif;
}